* {
    margin: 0;
    padding: 0;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    padding: 20px;
}
#form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input-container {
    display: flex;
    flex-direction: column;
}
#submit-container {
    display: flex;
    flex: 1;
    justify-content: center;
}
input, select, p {
    margin-top: 10px;
}
input[type=email], input[type=text], input[type=phone], input[type=search], input[type=datetime-local], select{
    height: 30px;
    margin-left: 10px;
}
input[type=submit] {
    border-radius: 0;
    border: none;
    background-color: grey;
    padding: 10px;
    height: 30px;
    margin-top: 30px;
}